*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors  */
  --blue: rgb(0, 101, 195);
  --black: #000;
  --white: #fff;
  --red: #ef171e;
  /* fonts  */

  --font-1: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a:active,
a:hover {
  color: inherit;
  text-decoration: none;
}

body {
  min-height: 100vh;

  overflow-x: hidden;
  overscroll-behavior: none;

  font-size: 10px;
  font-family: var(--font-1);
}

body.overflow-active {
  overflow: hidden;
}

.max-width {
  width: min(100% - 50px, 1440px);
  margin: 0 auto;
}

.underline-link {
  position: relative;
  width: max-content;
}
.underline-link::after {
  content: '';
  position: absolute;
  transform: scaleX(0);
  transform-origin: left;
  display: block;
  background: currentColor;
  height: 1px;
  width: 100%;
  bottom: -2px;
  transition: 0.5s;
}

.underline-link:hover::after {
  transform: scaleX(1);
}

.title-animate {
  overflow: hidden;
  transform: translateY(100%);
}

.custom-link {
  background-color: var(--red);

  display: block;
  margin: 20px auto 0;
  max-width: max-content;
  padding: 15px 40px;

  cursor: pointer;
  font-weight: 600;
  font-size: 1.6em;
  color: var(--white);
  border: 2px solid transparent;
  transition: 0.3s;
}

.custom-link:hover {
  background-color: var(--blue);

  color: var(--white);
  border: 2px solid var(--white);
}

/* loader  */
.pace {
  display: none;
}
.custom-loader {
  background: var(--blue);

  display: grid;
  place-items: center;

  position: fixed;
  inset: 0;
  z-index: 20000000000;
  transition: 0.5s;
  transition-property: opacity, visibility;
}

.custom-loader.hide {
  display: grid !important;
  opacity: 0;
  visibility: hidden;
}

.leap-frog {
  --uib-size: 6em;
  --uib-speed: 2s;
  --uib-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: var(--uib-size);
}

.leap-frog__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.leap-frog__dot::before {
  content: '';
  display: block;
  height: calc(var(--uib-size) * 0.22);
  width: calc(var(--uib-size) * 0.22);
  border-radius: 50%;
  background-color: var(--uib-color);
  will-change: transform;
}

.leap-frog__dot:nth-child(1) {
  animation: leapFrog var(--uib-speed) ease infinite;
}

.leap-frog__dot:nth-child(2) {
  transform: translateX(calc(var(--uib-size) * 0.4));
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -1.5) infinite;
}

.leap-frog__dot:nth-child(3) {
  transform: translateX(calc(var(--uib-size) * 0.8)) rotate(0deg);
  animation: leapFrog var(--uib-speed) ease calc(var(--uib-speed) / -3) infinite;
}

/* header  */
.custom-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  padding: 20px 0;
}

.custom-header .max-width {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: space-between;
}

.custom-header_logo a {
  display: block;
}

.custom-header_nav {
  display: flex;
  width: 100%;
  max-width: 300px;
  gap: 25px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 80;
  flex-direction: column;
  align-items: start;
  padding: 20px;
  background-color: var(--blue);
  box-shadow: 5px 0 10px #00000034;
  transition: transform 0.4s ease-in-out;
  transform: translateX(-100%);
}

.custom-header_nav.active {
  transform: translateX(0);
}

.custom-header_nav--link {
  font-size: 3em;
  line-height: 82%;
  letter-spacing: -0.25px;
  color: var(--blue);
}

.custom-header_nav--link,
.custom-header_nav--link:hover {
  color: var(--white);
}
.custom-header_nav--link,
.custom-header_nav--link.show {
  animation: none;
}
.custom-header_nav--link {
  opacity: 0;
  transform: translateY(100%);
}

.custom-header_button-menu {
  width: auto;
  cursor: pointer;
}

.custom-header_nav.active .custom-header_nav--link {
  animation: showMenuLink 0.4s forwards;
  animation-delay: var(--link-delay);
}

.custom-header_logo,
.custom-header_logo img {
  width: 123px;
  height: 42px;
  object-fit: contain;
}

/* HOME  */

.hero-home {
  background: center / cover no-repeat var(--white);

  height: 100vh;

  display: grid;
  place-items: center;
  place-content: center;

  color: var(--blue);
  text-align: center;

  clip-path: polygon(0 0, 100% 0, 100% 83%, 24% 100%, 24% 100%, 0 81%);
}
.hero-home .max-width {
  display: grid;
  gap: 10px;
}
.hero-home_subtitle {
  font-weight: 300;
  font-size: 2.77em;
  line-height: 90%;
  text-transform: uppercase;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  pointer-events: none;
}
.hero-home_title {
  overflow: hidden;
}
.hero-home_title svg {
  max-width: 782.02px;
  max-height: 150px;
  margin: 0 auto;
  transform: translateY(120%);
}

.hero-home_title.show svg {
  animation: showTitle 0.7s forwards;
  animation-delay: 0.2s;
}

.hero-home_text {
  font-weight: 400;
  font-size: 1.8em;
  line-height: 120%;
}

/* about us  */
.about-us {
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  background-color: var(--blue);
}

.about-us .max-width {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  min-height: 600px;
}

.about-us_images {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  filter: drop-shadow(50px 0 50px #40afde);
}
.about-us_images--img {
  position: relative;
  object-fit: contain;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
  transition: transform 0.5s, opacity 0.5s;
  opacity: 0;
  transform: translateX(100%) rotate(20deg);
}

.about-us_images.show .about-us_images--img {
  transform: translateX(0%) rotate(0deg);
  opacity: 1;
}
.about-us_images--img.image-1 {
  max-width: 200px;
  max-height: 550px;
  transition-delay: 0.3s;
}

.about-us_images--img.image-2 {
  max-width: 200px;
  transition-delay: 0.5s;
  max-height: 330px;
}
.about-us_images--img.image-3 {
  max-width: 180px;
  max-height: 300px;
  transition-delay: 0.8s;
}

.about-us_info {
  position: relative;
  z-index: 10;
}
.about-us_info--title {
  font-size: 6em;
  font-weight: 900;
  line-height: 100%;
  text-align: right;
  text-transform: uppercase;
  color: var(--white);
}

.about-us_info--link {
  margin: 20px 0 0 auto;
}

.about-us_wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.about-us_wave svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 73px;
}

.about-us_wave .shape-fill {
  fill: #ffffff;
}

/* products   */
.products {
  padding: 50px 0;
}
.products-title {
  font-size: 5em;
  font-weight: 900;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.products_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.products_ctn {
  width: 100%;
  height: 300px;
  border: 1px solid hsla(60, 3%, 81%, 0.482);
  overflow: hidden;
  padding: 15px 10px;
  position: relative;
  transition: opacity 0.2s;
  opacity: 0;
  transition-delay: var(--delay);
  cursor: pointer;
}

.products_grid.show .products_ctn {
  opacity: 1;
}

.products_ctn--img {
  max-width: 75%;
  margin: 15px auto 0;
  transform: translateY(100%);
  transition: transform 0.6s;
  transition-delay: var(--delay);
}

.products_grid.show .products_ctn--img {
  transform: translateY(0%);
}

.products_ctn--name {
  font-size: 1.5em;
  text-align: center;
  transition: opacity 0.5s;
}

.products_ctn_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  place-content: center;
}

.products_ctn_hover svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%) scale(1);
  transition: 0.5s;
  opacity: 0.8;
  z-index: 0;
}

.products_ctn_hover--name,
.products_ctn_hover--price {
  color: var(--white);
  text-align: center;
  position: relative;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s 0.2s;
  font-size: 1.7em;
  text-shadow: 0 0 10px #00000081;
}

.products_ctn:hover .products_ctn_hover svg {
  transform: translate(50%, -50%) scale(6);
}
.products_ctn:hover .products_ctn--name {
  opacity: 0;
}
.products_ctn:hover .products_ctn_hover--name,
.products_ctn:hover .products_ctn_hover--price {
  visibility: visible;
  opacity: 1;
}

/* product modal  */

.products-modal {
  position: fixed;
  inset: 0;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  opacity: 0;
  visibility: hidden;
  z-index: 5000;
  background-color: #0000008e;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 30px;
  overflow-y: auto;
  transition: visibility 0.5s, opacity 0.5s;
}

.products-modal.active {
  opacity: 1;
  visibility: visible;
}

.products-modal_info {
  background-color: var(--white);
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 400px;
  border-radius: 20px;
  padding: 40px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  gap: 20px;
  position: relative;
  overflow: hidden;
}
.products-modal .arrow-right {
  width: 30px;
  position: absolute;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.products-modal .arrow-left {
  width: 30px;
  transform: rotate(-180deg);
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.products-modal_info .close {
  position: absolute;
  right: 20px;
  top: 20px;
  max-width: 25px;
  transition: transform 0.2s;
  cursor: pointer;
}
.products-modal_info_content--name,
.products-modal_info_content--price,
.products-modal_info_content--description {
  transition: visibility 0.3s, opacity 0.3s, transform 0.5s ease-in-out;
}

.products-modal_info_content--name {
  font-size: 3em;
  font-weight: 900;
  line-height: 100%;
}

.products-modal_info_content--price {
  font-size: 2.5em;
  font-weight: 500;
}

.products-modal_info_content--description {
  margin-top: 20px;
  font-size: 1.8em;
}

.products-modal_info--figure {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
}

.products-modal_info--figure img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  -webkit-box-reflect: below 1px linear-gradient(transparent, transparent, #0004);
  filter: drop-shadow(0px 20px 8px #000000a2);
}

.products-modal_info--figure {
  transition: transform 0.5s ease-in-out, opacity 0.6s;
}

.products-modal.back-transition .products-modal_info--figure {
  opacity: 0;
  transform: translateY(150%);
}

.products-modal.back-transition
  :where(
    .products-modal_info_content--name,
    .products-modal_info_content--price,
    .products-modal_info_content--description
  ) {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
}

.products_modal_indicator {
  font-size: 1.5em;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  border-radius: 20px;
  padding: 10px 20px;
  color: var(--white);
  background-color: var(--blue);
}

.products_modal_indicator span {
  font-weight: 900;
}

/* newsletter | contact us  */
.contact-us {
  padding: 50px 0;
}

.contact-us_info--title {
  font-size: 5em;
  font-weight: 900;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.contact-us_news {
  display: grid;
  gap: 30px;
  min-width: 300px;
}
.contact-us_news * {
  height: max-content;
}

.contact-us_news .inputs-ctn {
  display: grid;
  gap: 10px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding: 20px;
}

.contact-us_news .input {
  width: 100%;
  display: block;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--blue);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 2em;
}

.contact-us_news .input:focus {
  outline: none;
  background-color: rgba(0, 101, 195, 0.131);
}

.contact-us_news .alert {
  color: rgb(255, 67, 34);
  display: block;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.5em;
  display: none;
  margin-top: 10px;
}
.contact-us_news .alert.active {
  display: block;
}

.contact-us_news .valid-message {
  text-align: center;
  color: var(--blue);
  font-weight: 800;
  font-size: 2em;
  display: none;
}

.contact-us_news .valid-message.active {
  display: block;
}

/* footer  */

.footer {
  background-color: var(--blue);
  height: 150px;
  padding: 20px 0;
  position: relative;
}

.footer .max-width {
  display: grid;
  place-items: center;
  height: 100%;
}

.footer .copyright {
  font-size: 2em;
  text-align: center;
  color: var(--white);
}

.footer_wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.footer_wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 73px;
}

.footer_wave .shape-fill {
  fill: #ffffff;
}
/* ANIMATIONS  */

@keyframes showMenuLink {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes showTitle {
  100% {
    transform: translateY(0);
  }
}

@keyframes leapFrog {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  33.333% {
    transform: translateX(0) rotate(180deg);
  }

  66.666% {
    transform: translateX(calc(var(--uib-size) * -0.4)) rotate(180deg);
  }

  99.999% {
    transform: translateX(calc(var(--uib-size) * -0.8)) rotate(180deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

/* ------- MEDIA QUERIES ------- */

@media (min-width: 1380px) {
  .custom-link {
    font-size: 2em;
  }
  /* HOME  */

  .hero-home_subtitle {
    font-size: 4.77em;
  }

  .hero-home_title svg {
    max-width: 1282.02px;
    max-height: 204px;
  }

  .hero-home_text {
    font-size: 2.5em;
  }

  /* about - us  */
  .about-us_images--img.image-1 {
    max-width: 230px;
    max-height: 400px;
  }

  .about-us_images--img.image-2 {
    max-width: 180px;
    max-height: 400px;
  }
  .about-us_images--img.image-3 {
    max-width: 180px;
    max-height: 300px;
  }

  .about-us_info--title {
    font-size: 7.5em;
  }

  /* products  */
  .products-title {
    font-size: 7em;
  }
}

@media (max-width: 1000px) {
  /* about us  */

  .about-us .max-width {
    grid-template-columns: 1fr;
    min-height: max-content;
  }
  .about-us_info--title {
    text-align: center;
  }

  .about-us_info--link {
    margin: 20px auto 0;
  }

  /* products  */
  .products_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .products-modal_info {
    height: 100%;
    max-height: 538px;
    grid-template-columns: 1fr;
    overflow: hidden;
  }

  .products_modal_indicator {
    box-shadow: 0 0 5px #000000a5;
  }
}

@media (max-width: 767px) {
  .custom-link {
    font-size: 1.4em;
    padding: 10px 20px;
  }
  /* HOME  */
  .hero-home {
    clip-path: polygon(0px 0px, 100% 0px, 139% 82%, 24% 100%, 24% 100%, 0px 93%);
  }
  .hero-home .max-width {
    display: grid;
    gap: 15px;
  }

  .hero-home_subtitle {
    font-size: 2.387em;
  }

  .hero-home_title svg {
    max-width: 445.02px;
    max-height: 65px;
  }

  .hero-home_text {
    font-size: 1.4em;
  }

  .hero-home_text br {
    display: none;
  }
  .hero-home_link {
    margin-top: 0;
  }

  /* about us  */

  .about-us .about-us_images--img {
    max-width: 93px;
    max-height: max-content;
  }
  .about-us .about-us_images--img.image-1 {
    max-width: 125px;
    filter: drop-shadow(0px 10px 14px #000000d7);
    z-index: 5;
    order: 2;
  }
  .about-us .about-us_images--img.image-2 {
    order: 1;
    z-index: 0;
    right: -20px;
  }
  .about-us .about-us_images--img.image-3 {
    order: 3;
    max-width: 88px;
    left: -20px;
    z-index: 0;
  }

  .about-us_info--title {
    font-size: 4em;
  }
  /* products  */
  .products-title {
    font-size: 4em;
  }
  .products_ctn--name {
    font-size: 1em;
    text-align: center;
    transition: opacity 0.5s;
  }
  .products_ctn {
    height: 122px;
  }
  .products-modal_info_content--name {
    font-size: 2em;
  }
  .products-modal_info_content--price {
    font-size: 1.7em;
  }
  .products-modal_info_content--description {
    font-size: 1.3em;
  }

  /* contact us  */

  .contact-us_info--title {
    font-size: 4em;
  }

  /* footer  */

  .footer {
    padding: 87px 0;
  }

  .footer .copyright {
    font-size: 1.5em;
  }
}
